COMPOSE_PROJECT_NAME=ahri-tre-r-dev
AHRI_TRE_LAKE_CONTAINER_PATH=/workspaces/ahri-tre-r/.lake
AHRI_TRE_RELEASE_TAG=v0.8.3
AHRI_TRE_RELEASE_REPOSITORY=AHRIORG/ahri-tre-rs
AHRI_TRE_ALLOW_LATEST_FALLBACK=1
AHRI_TRE_RUNTIME_LOCAL_ARCHIVE=
AHRI_TRE_RUNTIME_LOCAL_CHECKSUM=
TRE_DBNAME=tre
TRE_USER=tre_user
TRE_PWD=tre_password
POSTGRES_BOOTSTRAP_DB=postgres
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERPASSWORD=postgres
PGHOSTPORT=5432
